# Banco para a Clone 1 = CONNECT TO openrisow IDENTIFIED BY "openrisow" USING '10.238.10.106/gfprod';
# Banco para a Clone 1 = GFCLONEDEV
# Banco para a Clone 2 = GFCLONEPREPROD
# Banco para a Clone 5 = GFCLONE5
# Banco para a Clone 6 = GFPRODC6
# Banco para a Clone 7 = GFPRODC7


sped_fiscal_enxertado= /arquivos/SPED_FISCAL/ENXERTADOS/<<UF>>/<<AAAA>>/<<MM>>
sped_fiscal_protocolado= /arquivos/SPED_FISCAL/PROTOCOLADOS/<<UF>>/<<AAAA>>/<<MM>>

gia_enxertado= /arquivos/GIA<<UF>>/ENXERTADOS/<<AAAA>>/<<MM>>

gia_protocolado= /arquivos/GIA<<UF>>/PROTOCOLADOS/<<AAAA>>/<<MM>>

#relatorio de saida
### insumo_sped= /arquivos/RELATORIOS/SPED/<<UF>>/<<AAAA>>/<<MM>> ### Trocado Welber alteracao padrao diretorios (Roney)
insumo_sped= /portaloptrib/TESHUVA/RELATORIOS/GIA/<<UF>>/<<AAAA>>/<<MM>>

#formato dos arquivo de entrada
arq_sped_fiscal_enxertado= SPED_<<MESANO>>_<<UF>>_<<IE>>_ENX*V<<NNN>>.txt
arq_sped_fiscal_protocolado= SPED_<<MESANO>>_<<UF>>_<<IE>>_PROT*V<<NNN>>.txt

arq_gia_enxertado= GIA<<UF>>_<<MESANO>>_<<IE>>_ENX_V<<NNN>>.txt
arq_gia_protocolado= GIA<<UF>>_<<MESANO>>_<<IE>>_PROT_V<<NNN>>.txt 

#nome do arquivo de saida
arq_insumo_sped= Insumo_CFOP_SPED_GIA_<<MESANO>>_<<UF>>_<<IE>>_V<<NNN>>.xlsx
