# Banco para a Clone 1 = CONNECT TO openrisow IDENTIFIED BY "openrisow" USING '10.238.10.106/gfprod';
# Banco para a Clone 1 = GFCLONEDEV
# Banco para a Clone 2 = GFCLONEPREPROD
# Banco para a Clone 5 = GFCLONE5
# Banco para a Clone 6 = GFPRODC6
# Banco para a Clone 7 = GFPRODC7
# banco=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.238.10.207)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SID = gfprod)))
# banco=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.238.45.232)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = svc_gfprodc6)))


dir_aprocessar = /arquivos/RETORNO_TRIBUTARIO/Ajustes_manuais/A_Processar
dir_processado = /arquivos/RETORNO_TRIBUTARIO/Ajustes_manuais/Processado

tabelas = {"CLI_FORNEC_TRANSP": "GAP_CLI_FORNEC_TRANSP" , "COMPLVU_CLIFORNEC": "GAP_COMPLVU_CLIFORNEC" , "DFME": "GAP_DFME" , "DFMS": "GAP_DFMS" , "FILIAL": "GAP_FILIAL" , "ICEM": "GAP_ICEM" , "ITEM_NFEM_MERC": "GAP_ITEM_NFEM" , "ITEM_NFSD_MERC": "GAP_ITEM_NFSD" , "ITEM_NFTL_SERV": "GAP_ITEM_NFTL" , "MATERIAL": "GAP_MATERIAL" , "MESTRE_NFEN_MERC": "GAP_MESTRE_NFEN" , "MESTRE_NFSD_MERC": "GAP_MESTRE_NFSD" , "MESTRE_NFTL_SERV": "GAP_MESTRE_NFTL" , "NOTAS_EXTRA": "GAP_NOTAS_EXTRA" , "SERVICO_TELCOM": "GAP_SERVICO_TELCOM" , "TEFA": "GAP_TEFA" }

